![dnc.png]()

<br>Consultor: Everton Menezes </br>

# Listas

As listas são variáveis compostas mutáveis.

As listas são variáveis compostas que são declaradas entre colchetes `[]`

```
lista = ['var1','var2','var3']
```

Assim como as tuplas elas também aceitam qualquer tipo de dado.

<h2> Similaridades entre Listas e Tuplas: </h2>

Todas as funções vistas em tuplas também funcionam com Listas:

> Fatiamento: `[0] [0:2] [:3] [3:] [-1]` <br>
> Métodos: `.index()`      `.count()` <br>
> Funções: `len()` e `sorted()` <br>
> Concatenar: `lista3 = lista1 + lista2` <br>
> Lista dentro de for: `for i in lista` e `for i, v in enumerate(lista):`

## Funções e Métodos para Listas

* Modificando um termo:

```
lista[posicao] = novoValor
lista[intervalo] = novaLista
```

<h3> Exemplo 1 </h3>

Dada a lista abaixo:

`l1 = [2, 6, 4, 5, 7]`

* Troque o 3º termo por 3
* Troque os 2 primeiros termos por 0 e 1, respectivamente.

In [1]:
# Declarando a lista
l1 = [2, 6, 4, 5, 7]
print(l1)

# Substituindo os valores
l1[2] = 3
print(l1)
l1[0:3] = [0,1,45]
print(l1)

[2, 6, 4, 5, 7]
[2, 6, 3, 5, 7]
[0, 1, 45, 5, 7]

* Adicionando termos:

```
lista.append(valor)
lista.insert(posicao, valor)
```

<h3> Exemplo 2 </h3>

Dada a lista abaixo:

`l1 = [0, 1, 3, 5, 7]`

* Insira 7 para o último valor
* Insira 4 na quarta posição

In [5]:
# Declarando a lista
l1 = [0, 1, 3, 5, 7]
print(l1)

# Inserindo os valores
l1.append(7)
print(l1)
l1.insert(3, 4)
print(l1)

[0, 1, 3, 5, 7]
[0, 1, 3, 5, 7, 7]
[0, 1, 3, 4, 5, 7, 7]

Repare que quando usamos o `.insert()` o método insere o valor na posição desejada e desloca todos os outros valores da lista para direita.

* Deletando termos:

```
del lista[posicao]
var = lista.pop(pos)
lista.remove(valor)
```

<h3> Exemplo 3 </h3>

Dada a lista abaixo:

`l1 = [0, 1, 3, 4, 5, 7, 7]`

* Delete o 4º item usando `del`
* Delete o 3º item usando `.pop` e salve na variável `deletado`
* Delete o primeiro valor 7 que aparece na lista

In [10]:
# Declarando a lista
l1 = [0, 1, 3, 4, 5, 7, 7]
print(l1)

# Deletando os valores
del l1[3]
print(l1)

deletado = l1.pop(2)
print(l1, ' - ', deletado)

l1.remove(7) # Erro ao remover valores que não estão na lista
print(l1)

[0, 1, 3, 4, 5, 7, 7]
[0, 1, 3, 5, 7, 7]
[0, 1, 5, 7, 7]  -  3
[0, 1, 5, 7]

### if com lista

Também podemos usar o if de uma forma simplificada na lista para verificarmos se algum valor existe dentro da lista:

```
if valor in lista:
  lista.remove(valor)
```
Como o exemplo acima mostra ela é muito comum de ser usada para verificar se algum valor está dentro da lista antes de deletá-lo.

<h2> Exercício 1 </h2>

Dada a lista abaixo:
```
l2 = [3, 2, 5, 0, 0, 8, 3, 8, 8, 4, 0, 9, 7, 8, 9, 3, 6, 0, 1]
```
1. Conte a quantidade de termos que a lista possui e imprima
2. Delete todos os **0** da lista e imprima-a
3. Conte a quantidade de termos da nova lista

In [18]:
# Declarando a lista
l2 = [3, 2, 5, 0, 0, 8, 3, 8, 8, 4, 0, 9, 7, 8, 9, 3, 6, 0, 1]
print(l2)

# Contando a lista
list_qtd = len(l2)
print(list_qtd)

# Deletando os valores
for i in l2:
    if 0 in l2:
        l2.remove(0)

print(l2)

# Contando a lista final
print(len(l2))

[3, 2, 5, 0, 0, 8, 3, 8, 8, 4, 0, 9, 7, 8, 9, 3, 6, 0, 1]
19
[3, 2, 5, 8, 3, 8, 8, 4, 9, 7, 8, 9, 3, 6, 1]
15

* Ordenando a Lista

Existe 2 maneiras de ordenar. Uma delas é uma função e a outra é um método.

```
sorted(lista)
lista.sort()
lista.sort(reverse = True)
```

<h3> Exemplo 4 </h3>

Dada a lista abaixo:

`l1 = [0, 3, 1, 7, 5, 7, 4]`

* Ordene a lista com o `sorted`e salve na variável sort1
* Ordene a lista com o `.sort()` e salve na variável sort2
* Compare os resultados
* Faça a ordenação inversa da lista

In [26]:
# Declarando a lista
l1 = [0, 3, 1, 7, 5, 7, 4]
print(l1)

# Fazendo o sort1
sort1 = sorted(l1)
print(sort1)
print(l1)

# Fazendo o sort2
l1.sort()
print(l1)

# Ordenação inversa
l1.sort(reverse = True)
print(l1)

[0, 3, 1, 7, 5, 7, 4]
[0, 1, 3, 4, 5, 7, 7]
[0, 3, 1, 7, 5, 7, 4]
[0, 1, 3, 4, 5, 7, 7]
[7, 7, 5, 4, 3, 1, 0]

<h2> Diferença entre Função e Método </h2>

Como podemos ver no exemplo acima:

* Funções são executadas em variáveis e possuem como output uma nova variável. Com isso as funções **NÃO** modificam a variável original. Toda função tem a cara: `saida = funcao(variavel)`
* Já os métodos modificam as variáveis e salvam o resultado na própria variável. Todo método tem a cara: `variavel.metodo(configuracao)`

Por esse comportamente básico os métodos não funcionam em tuplas.

## Declarando Listas

É muito comum declararmos listas em branco para que o usuário possa inserir os valores e/ou possamos puxar os valores de algum banco de dados.

<h2> Declarando Listas em branco </h2>

```
lista = []
lista = list()
```

Após a declaração é possível ir adicionando os valores com o `.append()` que já vimos anteriormente.

<h3> Exemplo 5 </h3>
Crie uma lista vazia e peça para o usuário inserir 5 números dentro dela.

In [28]:
# Declarando a lista:
lista1 = []

for i in range(0,5):
    lista1.append(int(input(f'Digite o {i+1}º número: ')))

print(lista1)

Digite o 1º número: 1
Digite o 2º número: 3
Digite o 3º número: 5
Digite o 4º número: 7
Digite o 5º número: 23
[1, 3, 5, 7, 23]

<h2> Declarando Listas com Range </h2>

```
lista = list(range(inicio,fim,passo))
```

Para cálculos e análises matemáticas é muito comum precisarmos criar uma lista de números com um passo conhecido para análises e até gráficos. Gerar esses números com o comando acima se torna bem simples.

<h3> Exemplo 6 </h3>
Crie uma lista de 0 a 10 com passo de 0.1

In [34]:
# Criando lista
lista2 = list(range(0, 100+1, 1))
print(lista2)

for i in lista2:
    lista2[i] /= 10

print(lista2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0, 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6.0, 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9, 7.0, 7.1, 7.2, 7.3, 7.4, 7.5, 7.6, 7.7, 7.8, 7.9, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5, 8.6, 8.7, 8.8, 8.9, 9.0, 9.1, 9.2, 9.3, 9.4, 9.5, 9.6, 9.7, 9.8, 9.9, 10.0]

Observe que a função `range( )` somente aceita números inteiros.

### Copiando e Clonando Listas

Quando declaramos uma nova variável e igualamos a uma lista ela na verdade vira um “clone” da lista original. Qualquer modificação em uma das duas irá impactar as duas.

<h3> Exemplo 7 </h3>

Crie uma lista:
```
l1 = [0, 2, 6, 4, 8, 1, 3]
```
Em seguida faça:
```
l2 = l1
```
Delete o último termo da lista `l2` e imprima as duas listas.

In [38]:
# Declarando lista:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = l1
print(f'l1 = {l1}')

# Deletando último valor e plotando resultados
l2.pop()

print(f'l1 = {l1}')
print(f'l2 = {l2}')

l1 = [0, 2, 6, 4, 8, 1, 3]
l1 = [0, 2, 6, 4, 8, 1]
l2 = [0, 2, 6, 4, 8, 1]

Observe que fazer:
```
l2 = l1
```
A gente acaba clonando as listas. Elas estão ocupando o mesmo espaço de memória do computador, portanto, qualquer modificação feita em uma também será feita na outra então muito cuidado na hora de clonar as listas.

Se quisermos criar uma cópia da lista para que essa segunda possa ser modificada à vontade devemos utilizar a seguinte sintaxe:

```
l2 = l1[:]
```

<h3> Exemplo 8 </h3>

Execute o mesmo exemplo anterior só que agora copiando a lista ao invés de clonar.

In [39]:
# Declarando lista:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = l1[:] # l2 = l1.copy()
print(f'l1 = {l1}')

# Deletando último valor e plotando resultados
l2.pop()

print(f'l1 = {l1}')
print(f'l2 = {l2}')

l1 = [0, 2, 6, 4, 8, 1, 3]
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [0, 2, 6, 4, 8, 1]

## Listas dentro de for

A utilização das listas dentro de loopings é bem similar às tuplas. A diferença é que agora podemos modificar as listas e utilizar os loopings para adicionar novos valores à lista.

<h3> Exemplo 9 </h3>

Dada as listas abaixo:
```
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8, 2, 5]
```
Crie uma nova lista que será a soma de termo a termo da l1 com a l2.

In [42]:
# Declarando as listas:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8, 2, 5]
l3 = [] # l3 = list()

for i, li in enumerate(l1):
    print(f'l1[{i}] = {li} e l2[{i}] = {l2[i]}')
    l3.append(l1[i] + l2[i])

print(l3)

l1[0] = 0 e l2[0] = 3
l1[1] = 2 e l2[1] = 2
l1[2] = 6 e l2[2] = 1
l1[3] = 4 e l2[3] = 7
l1[4] = 8 e l2[4] = 8
l1[5] = 1 e l2[5] = 2
l1[6] = 3 e l2[6] = 5
[3, 4, 7, 11, 16, 3, 8]

<h3> Exemplo 10 </h3>

Dadas as listas abaixo:
```
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8]
```
Execute o mesmo código do exemplo anterior.

In [41]:
# Declarando as listas:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8]
l3 = [] # l3 = list()

# for i, li in enumerate(l2):
#     print(f'l1[{i}] = {li} e l2[{i}] = {l2[i]}')
#     l3.append(l1[i] + l2[i])

# print(l3)

l1[0] = 0 e l2[0] = 3
l1[1] = 2 e l2[1] = 2
l1[2] = 6 e l2[2] = 1
l1[3] = 4 e l2[3] = 7
l1[4] = 8 e l2[4] = 8

IndexError: ignored

Observe que o erro dado acima é porque tentamos acessar o `l2[5]` que na verdade não existe.

Para contornarmos esse erro podemos primeiro descobrir qual é a menor lista para depois colocarmos esta dentro do `enumerate()`

Mas tem um método bem mais fácil que é usar a função `zip`

```
for val1, val2 in zip(l1, l2):
```
Essa função fará com que o passo do for ande sempre junto para as 2 listas (ou tuplas). Assim, as variáveis `val1` e `val2` vão ter sempre os valores das respectivas posições do passo do for.

<h3> Exemplo 11 </h3>

Adapte o código anterior usando o zip

In [44]:
# Declarando as listas:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8]
l3 = []

for v1, v2 in zip(l1, l2):
    print(f'v1 = {v1} e v2 = {v2}')
    l3.append(v1 + v2)

print(l3)

v1 = 0 e v2 = 3
v1 = 2 e v2 = 2
v1 = 6 e v2 = 1
v1 = 4 e v2 = 7
v1 = 8 e v2 = 8
[3, 4, 7, 11, 16]

Observe neste caso que já que as listas não possuem o mesmo tamanho o for irá rodar uma quantidade de passos equivalente a quantidade de posições da menor lista.

# Exercícios

<h2> Exercício 1 </h2>

Dada as listas e tuplas abaixo:
```
preco = (10.9, 5.40, 8.30, 3.40)
qtdComprada = [0, 3, 2, 4]
```
Calcule e mostre para o usuário o valor total da compra dele sendo que o valor total será a soma da multiplicação do preço do produto pela quantidade comprada

In [53]:
preco = (10.9, 5.40, 8.30, 3.40)
qtd = [0, 3, 2, 4]
conta = []

for v1, v2 in zip(preco, qtd):
    conta.append(v1 * v2)
print(conta)
soma = sum(conta)
print(f'R${soma:.2f}')

[0.0, 16.200000000000003, 16.6, 13.6]
R$46.40

<h2> Exercício 2 </h2>
Considerando o exercício anterior e considerando que as posições das listas acima são os preços respectivos de:

* Lanche
* Refri
* Batata
* Bombom

Peça para o usuário informar a quantidade de cada produto que ele irá comprar para depois mostrar o valor total da conta dele.

In [54]:
preco = (10.9, 5.40, 8.30, 3.40)
# qtd = [0, 3, 2, 4]
lanche_nome = ['Lanche', 'Refri', 'Batata', 'Bombom']

total = float()

for name, valor in zip(lanche_nome, preco):
    total += valor * int(input(f'Digite a quantidade do item {name}: '))

print(f'O total do pedido é R${total:.2f}')

Digite a quantidade do item Lanche: 5
Digite a quantidade do item Refri: 7
Digite a quantidade do item Batata: 5
Digite a quantidade do item Bombom: 10
O total do pedido é R$167.80

<h2> Exercício 3 </h2>
Faça um programa que pede para o usuário inserir um produto e salvar este produto numa lista.

Caso o produto já esteja na lista informe uma mensagem de erro e não cadastre o produto duplicado.

In [58]:
produtos = ['Lanche', 'Refri', 'Batata', 'Bombom']

produto_novo = input('Digite um novo produto: ')

if produto_novo not in produtos:
    produtos.append(produto_novo)
    print('Produto cadastrado com sucesso!')
else:
    print('Produto já cadastrado')

print(produtos)

Digite um novo produto: Pudim
Produto cadastrado com sucesso!
['Lanche', 'Refri', 'Batata', 'Bombom', 'Pudim']