![dnc.png]()

</b> <br>Consultor: Everton Menezes <br>

# Operadores Aritméticos

<h1> Operações </h1>

> Soma: `+`

> Subtração: `-`

> Multiplicação: `*`

> Divisão: `/`

> Potência: `**`

> Divisão inteira: `//`

> Resto da divisão: `%`

<h3> Exemplos </h3>

Dadas as variáveis: 

a = 7

b = 2

Faça as operações aritméticas acima

In [ ]:
# Declaração de variáveis
a = 7
b = 2

In [ ]:
# Soma 7 + 2 == 9
print(a + b)
print(type(7 + 2))

9
<class 'int'>

In [ ]:
# Subtração 7 - 2 == 5
print (7 - 2)
print(type(7 - 2))

5
<class 'int'>

In [ ]:
# Multiplicação 7 * 2 == 14
print(7 * 2)
print(type(7 * 2))

14
<class 'int'>

In [ ]:
# Divisão 7 / 2 == 3.5 -> Observe que o resultado final é uma variável do tipo float
print(7 / 2)
print(type(7 / 2))

3.5
<class 'float'>

In [ ]:
# potência 7 ** 2 == 7 * 7 == 49
print(7 ** 2)
print(type(7 ** 2))

49
<class 'int'>

In [ ]:
# divisão inteira e resto da divisão
# 7 dividido por 2 é 3 inteiros mais 1 de resto. 3 * 2 + 1 == 7
print(a // b + a % b)

4

<h1> Operações com Textos 'str' </h1>

Podemos utilizar 2 operações com textos:

> Concatenar: `+`

> Repetir: `*`

In [ ]:
# Concatenação de 2 textos
nome_primeiro =  'Samuel'
nome_ultimo = 'Vieira'
print(nome_primeiro + ' ' + nome_ultimo)

Samuel Vieira

In [ ]:
# Repetir a palavra 'Olá' 5 vezes
print ('Olá ' * 5)

Olá Olá Olá Olá Olá

<h3> Mini desafio </h3>

Tente escrever um texto de boas vindas com print de modo que ele fique da seguinte forma:

---

<center>Seja Bem Vindo ao curso de Python da DNC </center>

---

In [ ]:
# print com repetição
print('_' * 75)
print()
print(' ' * 15 + 'Seja Bem Vindo ao curso de Python da DNC' + ' ' * 15)
print('_' * 75)

___________________________________________________________________________

               Seja Bem Vindo ao curso de Python da DNC
___________________________________________________________________________

## Ordem de Precedência Aritmética

1.   Parênteses: `( )`
2.   Potência: `**`
3.   Multiplicação, Divisão, Resto, Divisão inteira: `*`, `/`, `%`, `//`
4.   Soma e Subtração: `+`, `-`

<h2> Exercícios </h2>
Para as contas abaixo utilize as variáveis:

a = 5

b = 7

c = 3.45

d = 5.50

In [ ]:
# Declarando as variáveis:
a = 5
b = 7
c = 3.45
d = 5.50

In [ ]:
# Quanto é: a + b * d
print(a + b * d)

43.5

In [ ]:
# Quanto é: (a + b) * d
print((a + b) * d)

66.0

In [ ]:
# Quanto é: b ** a * c
print(b ** a * c)

57984.15

In [ ]:
# Quanto é: b ** (a * c)
print(b ** (a * c))

378391341587299.8

### Problema 1

Fui numa hamburgueria e comprei 2 lanches de 10,90 cada, 3 refris de 4,50 cada e 1 batata por 8,45.

O pagamento foi no dinheiro com uma notas de 10 reais e 5 reais. Pergunta-se:

1.   Qual foi o valor total da conta?
2.   Quantas notas de 10 reais eu usei?
3.   Quantas notas de 5 reais eu usei?
4.   Quanto voltou de troco pra mim em notas?
5.   Quanto voltou de troco pra mim em moedas?

In [ ]:
# Declarando as variáveis
lanche_preco = 10.90
lanche_qtd = 2
refri_preco = 4.50
refri_qtd = 3
batata_preco = 8.45
batata_qtd = 1
conta_total = lanche_preco*lanche_qtd + refri_preco*refri_qtd + batata_preco*batata_qtd

# Respondendo item 1:
print('O valor total da conta foi de: R$',conta_total)

O valor total da conta foi de: R$ 43.75

In [ ]:
# Calculando item 2:
nota10_qtd = conta_total // 10
valor_faltante = conta_total % nota10_qtd
# valor_faltante = conta_total - nota10_qtd*10

print(nota10_qtd)
print(valor_faltante)

4.0
3.75

In [ ]:
# Respondendo item 2:
# Já que o valorFaltante é menor que 5 reais, então não preciso gastar outra nota de 10

print('Usei {:1d} notas de 10 reais'.format(int(nota10_qtd)))

Usei 4 notas de 10 reais

In [ ]:
# Calculando item 3:
nota5_qtd = valor_faltante // 5 + 1
troco = valor_faltante - nota5_qtd * 5

print(valor_faltante)
print(nota5_qtd)
print(troco)

3.75
1.0
-1.25

In [ ]:
# Respondendo item 3:
# Já que o novo valorFaltante é menor do que 0 reias, então já paguei o que eu precisava. Não estou devendo

print('Usei {} notas de 5 reais'.format(int(nota5_qtd)))

Usei 1 notas de 5 reais

In [ ]:
# Calculando item 4:
# Já que a única nota menor que 5 reais é a nota de 2 reais, temos que ver se ela é maior do que o Valor Faltante.

nota2_qtd = (-troco) // 2
troco = troco + nota2_qtd * 2

print(nota2_qtd)
print(troco)

0.0
-1.25

In [ ]:
# Respondendo item 4:
print('Recebi {} notas de 2 reais'.format(int(nota2_qtd)))

Recebi 0 notas de 2 reais

In [ ]:
# Calculando item 5:
# Já que já recebemos tudo o que dava em notas, o que falta é somente as moedas

moeda_valor = 0 - troco
troco = moeda_valor + troco

print(moeda_valor)
print(troco)

1.25
0.0

In [ ]:
# Repondendo item 5:
print(f'Recebi {moeda_valor} em moedas')

Recebi 1.25 em moedas

# Transformando Variáveis

Utilizamos as seguintes funções para transformar os tipos das variáveis:

> Para transformar para string: str( )

> Para transformar para inteiro: int( )

> Para transformar para real: float( )

Essa funcionalidade é muito utilizada para tratar os dados de inputs de usuários e/ou para tratar dados importados de outras fontes e bancos de dados.

<h3> Exemplos </h3>

Vamos utilizar as seguintes variáveis:

a = 1.857

b = '4'

c = True

d = False

e = 'tex34'

<h3> Usando o int( ) </h3>

Transforme as variáveis acima para int

In [ ]:
# Declarando as variáveis
a = 1.857
b = '4'
c = True
d = False
e = 'tex34'

In [ ]:
# int(a) 
print(a, type(a), sep=' - ')
print(int(a), type(int(a)), sep=' - ')

1.857 - <class 'float'>
1 - <class 'int'>

Observe que na variável "a" foi pega a parte inteira da variável e desprezados os algarismos após a vírgula

In [ ]:
# int(b)
print(b, type(b), sep=' - ')
print(int(b), type(int(b)), sep=' - ')

4 - <class 'str'>
4 - <class 'int'>

In [ ]:
# int(c)
print(c, type(c), sep=' - ')
print(int(c), type(int(c)), sep=' - ')

True - <class 'bool'>
1 - <class 'int'>

In [ ]:
# int(d)
print(d, type(d), sep=' - ')
print(int(d), type(int(d)), sep=' - ')

False - <class 'bool'>
0 - <class 'int'>

Observe que nas variáveis "c" e "d" os 'True's foram convertidos em 1 e os 'False's foram convertidos em 0. Essa é uma outra propriedade muito usada em programação.

Condições Verdadeiras podem ser comparadas com 1 (e até usadas em cálculos)

Condições Falsas podem ser comparadas com 0

In [ ]:
# int(e)
print(e, type(e), sep=' - ')
# print(int(e), type(int(e)), sep=' - ')

tex34 - <class 'str'>

Observe que nem sempre conseguiremos converter todas as variáveis.

<h3> Usando o float( ) </h3>

Transforme as mesmas variáveis acima para float

Mude "a" para 1

In [ ]:
a = 1

# float(a) 
print(a, type(a), sep=' - ')
print(float(a), type(float(a)), sep=' - ')

1 - <class 'int'>
1.0 - <class 'float'>

In [ ]:
# float(b)
print(b, type(b), sep=' - ')
print(float(b), type(float(b)), sep=' - ')

4 - <class 'str'>
4.0 - <class 'float'>

Observe que mesmo que as variáveis não tenham casas decimais quando elas são convertidas para float o próprio Python já adiciona pelo menos uma casa decimal a ela.

In [ ]:
# float(c)
print(c, type(c), sep=' - ')
print(float(c), type(float(c)), sep=' - ')

True - <class 'bool'>
1.0 - <class 'float'>

In [ ]:
# float(d)
print(d, type(d), sep=' - ')
print(float(d), type(float(d)), sep=' - ')

False - <class 'bool'>
0.0 - <class 'float'>

In [ ]:
# float(e)
print(e, type(e), sep=' - ')
# print(float(e), type(float(e)), sep=' - ')

tex34 - <class 'str'>

Observe que o erro é até diferente do erro que apareceu no int mas mesmo assim ainda apareceu o erro. Também não é sempre que conseguiremos converter as variáveis para float.

<h3> Usando o str( ) </h3>

Transforme as mesmas variáveis acima para float

Mude b para 2.758

In [ ]:
b = 2.758

# str(a) 
print(a, type(a), sep=' - ')
print(str(a), type(str(a)), sep=' - ')

1 - <class 'int'>
1 - <class 'str'>

In [ ]:
# str(b) 
print(b, type(b), sep=' - ')
print(str(b), type(str(b)), sep=' - ')

2.758 - <class 'float'>
2.758 - <class 'str'>

Observe que o str basicamente pega os valores numéricos e coloca entre aspas para fazer essa transformação

In [ ]:
# str(c) 
print(c, type(c), sep=' - ')
print(str(c), type(str(c)), sep=' - ')

True - <class 'bool'>
True - <class 'str'>

In [ ]:
# str(d) 
print(d, type(d), sep=' - ')
print(str(d), type(str(d)), sep=' - ')

False - <class 'bool'>
False - <class 'str'>

O mesmo acontece com as variáveis Booleanas.

# Impressão personalizada

<h3>print( ) com .format( )</h3>

Para fazer um print mais organizado podemos utilizar o chamado de **Máscaras** `{}` para dizer para o print onde que queremos que cada variável apareça.

Depois basta usar o **Método** `.format( )` para dizer quais variáveis serão colocadas dentro do print.

<h3>Vamos para o exemplo?</h3>

In [ ]:
# print comum:
print(f'Você pediu um lanche de: R${lanche_preco} e uma batata de: R${batata_preco} totalizando: R${lanche_preco + batata_preco}')

Você pediu um lanche de: R$10.9 e uma batata de: R$8.45 totalizando: R$19.35

In [ ]:
# print formatado
print('Você pediu um lanche de: R${} e uma batata de: R${} totalizando: R${}'.format(lanche_preco, batata_preco, lanche_preco + batata_preco))

Você pediu um lanche de: R$10.9 e uma batata de: R$8.45 totalizando: R$19.35

<h2> Personalizando ainda mais a Máscara </h2>

Dentro da máscara temos:

{0:10.2f}

> `0` -> posição que a variável aparece dentro do .format( ). [pode ser deixado em branco]

> `:` -> separador a partir dele começamos as formatações

> `10` -> separamos 10 casas (caracteres) dentro do print para mostrarmos o número

> `.` -> a partir do ponto, estamos formatando os valores após a vírgula decimal

> `2` -> qtd de casas decimais

> `f` -> para float ou d -> para inteiro

<h3> Exemplo </h3>

plote as variáveis abaixo:

a = 245

b = 2.835895

In [ ]:
# Exemplo
a = 245
b = 2.835895

print('|{0:10}| e |{1:10.3f}|'.format(a,b))

|       245| e |     2.836|

# Exercícios

## Exercício 1:

Vamos testar os comportamentos dos diferentes operadores aritméticos. Para isso vamos montar uma calculadora, eai? Bora, vamos nessa?

Criar variáveis n1 e n2 que receberão inputs do tipo INT do usuário. (não se esqueça de tratar o que está sendo recebido rsrs)
Exibir o resultado da Adição dessas 2 variáveis.
Exibir o resultado da Subtração dessas variáveis.
Exibir o resultado da Multiplicação dessas variáveis.
Exibir o resultado da Divisão dessas variáveis.
Exibir o resultado do Módulo (Resto da divisão) entre essas variáveis.
Exibir o resultado de uma variável Exponenciando a outra.
[ ]

<h3> Resultado Esperado </h3>

![image.png]()

In [ ]:
n1 = int(input('Digite o primeiro valor: '))
n2 = int(input('Digite o segundo valor: '))

print(f'N1: {n1}')
print(f'N2: {n2}')
print(n1 + n2)
print(n1 - n2)
print(n1 * n2)
print(n1 / n2)
print(n1 // n2)
print(n1 ** n2)

Digite o primeiro valor: 7
Digite o segundo valor: 5
N1: 7
N2: 5
12
2
35
1.4
1
16807

## Exercício 2:
Faça um programa que o usuário digita um valor inteiro e nós mostramos toda a tabuada daquele número.

<h3> Resultado Esperado </h3>

![image.png]()

In [ ]:
numero_inteiro = int(input('Digite um número inteiro: '))

print(f'Digite um número inteiro: {numero_inteiro}')
print('-'*20)
print('{} * {:2} = {:6}'.format(numero_inteiro, 0, numero_inteiro * 0))
print('{} * {:2} = {:6}'.format(numero_inteiro, 1, numero_inteiro * 1))
print('{} * {:2} = {:6}'.format(numero_inteiro, 2, numero_inteiro * 2))
print('{} * {:2} = {:6}'.format(numero_inteiro, 3, numero_inteiro * 3))
print('{} * {:2} = {:6}'.format(numero_inteiro, 4, numero_inteiro * 4))
print('{} * {:2} = {:6}'.format(numero_inteiro, 5, numero_inteiro * 5))
print('{} * {:2} = {:6}'.format(numero_inteiro, 6, numero_inteiro * 6))
print('{} * {:2} = {:6}'.format(numero_inteiro, 7, numero_inteiro * 7))
print('{} * {:2} = {:6}'.format(numero_inteiro, 8, numero_inteiro * 8))
print('{} * {:2} = {:6}'.format(numero_inteiro, 9, numero_inteiro * 9))
print('{} * {:2} = {:6}'.format(numero_inteiro, 10, numero_inteiro * 10))

Digite um número inteiro: 45
Digite um número inteiro: 45
--------------------
45 *  0 =      0
45 *  1 =     45
45 *  2 =     90
45 *  3 =    135
45 *  4 =    180
45 *  5 =    225
45 *  6 =    270
45 *  7 =    315
45 *  8 =    360
45 *  9 =    405
45 * 10 =    450

## Exercício 3:

Faça um programa no qual o usuário digite a distância percorrida por um carro e a qtd de litros de combustível gasto.

Calcule e mostre para o usuário quantos km/l o seu carro faz.

<h3> Resultado Esperado </h3>

![image.png]()

In [ ]:
kms_rodados = float(input('Quantos km você rodou com seu carro? '))
litros_gastos = float(input('Quantos litros de combustível foi gasto? '))

print(f'Quantos km você rodou com seu carro? {kms_rodados}')
print(f'Quantos litros de combustível foi gasto? {litros_gastos}')
print('O seu carro faz: {:4.2f}km/l'.format(kms_rodados / litros_gastos))

Quantos km você rodou com seu carro? 350
Quantos litros de combustível foi gasto? 15
Quantos km você rodou com seu carro? 350.0
Quantos litros de combustível foi gasto? 15.0
O seu carro faz: 23.33km/l